@import '~react-select/dist/react-select.css';

.banner{
  /* background-image: url('../../assets/images/Epay_Home_BG-01.jpg');
  background-repeat: no-repeat;
  background-size:cover;*/
  background-color: #419bd9;
  min-height: 1000px;
  color: #ffffff;
}
.banner h1{
  color: #ffffff;
}
.slogan{

  font-weight: 500;
  font-size: 46px;
  line-height: 50px;
}

.description{
  text-align: justify;
  font-size: 20px;
  font-weight: 300;
}

.particles canvas{
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.flag-select{
  background-color:#ffffff;
  padding: 25px 15px;
  border-radius: 0 5px 5px 0;
}
.flag-select img{
  margin-top: -14px
}
.currency-input{
  padding: 34px 20px 41px 20px;
  font-size: 24px;
  border-radius: 5px 0 0 5px;
}
.flag-select .arrow-down{
  font-size: 16px;
}
.exchange-card{
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
}
.img{
  width:180px;
}

.img-bsp{
  margin:10px 0;
}

.img-reviews{
  margin:15px 0;
}

.img-customers{
  margin:25px 0;
}

.anchor{
  font-size: 18px;
  color:#000080;
  display: block;
  margin-top: -22px;
}

.anchor:hover{
  color:#34495E;
}
