.logo{
  margin: 5px 0;
  width: 180px
}
.nav-container{
  background-color: #ffffff;
  padding:13px 0 !important;
  border-bottom: 2px solid #999999;
}
/* .ant-menu-submenu-horizontal,
.ant-menu-horizontal,
.ant-menu-item{
  border-bottom: 0px !important;
} */
.ant-menu{
  /* background-color: transparent !important;
  color: white !important; */
  float: right !important;
}

.ant-menu-item,
.ant-menu-submenu{
  font-size: 18px
}
